<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

  <a class="nav-link navbar-brand" routerLink="/landing">
    <img src="../assets/teamlogo.png" width="40px">
    Team DAO
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proposals">Proposals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/active-votes">Active Votes</a>
      </li>
    </ul>
  </div>

  <div *ngIf='metaMaskService.metaMaskInstalled'>
    <div *ngIf='metaMaskService.address'>
      <button type="button" class="btn btn-sm btn-light">
        <i>{{getAddressValue()}}</i>
      </button>
    </div>
    <div *ngIf='!metaMaskService.address'>
      <button type="button" class="btn btn-sm btn-info" (click)='metaMaskService.connect()'>
        <i>Connect MetaMask</i>
      </button>
    </div>
  </div>
  <div *ngIf='!metaMaskService.metaMaskInstalled'>
    <button type="button" class="btn btn-sm btn-danger">
      <i>No MetaMask!</i>
    </button>
  </div>
</nav>
