<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

  <a class="nav-link navbar-brand" routerLink="/landing" (click)='teamDaoService.getAll()'>
    <img src="../assets/teamlogo.png" width="40px">
    Team DAO
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proposals">Proposals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/active-votes">Active Votes</a>
      </li>
    </ul>
  </div>

  <!-- Pause Button-->
  <span *ngIf='metaMaskService.metaMaskInstalled && metaMaskService.address && teamDaoService.cache.pauser'>
    <div *ngIf='!(teamDaoService.cache.pauser.toLowerCase() === metaMaskService.address) && teamDaoService.cache.paused'>
      <button type="button" class="btn btn-sm btn-danger mr-3">
        <b>PAUSED!</b>
      </button>
    </div>
    <div *ngIf='teamDaoService.cache.pauser.toLowerCase() === metaMaskService.address && !teamDaoService.cache.paused'>
      <button type="button" class="btn btn-sm btn-outline-danger mr-3" (click)='pause()'>
        <b>PAUSE CONTRACT</b>
      </button>
    </div>
    <div *ngIf='teamDaoService.cache.pauser.toLowerCase() === metaMaskService.address && teamDaoService.cache.paused'>
      <button type="button" class="btn btn-sm btn-outline-success mr-3" (click)='unpause()'>
        <b>UNPAUSE CONTRACT</b>
      </button>
    </div>
  </span>

  <!-- Metamask Address -->
  <div *ngIf='metaMaskService.metaMaskInstalled'>
    <div *ngIf='metaMaskService.address'>
      <button type="button" class="btn btn-sm btn-outline-warning" (click)='metaMaskService.connect()'>
        <b>{{getAddressValue()}}</b>
      </button>
    </div>
    <div *ngIf='!metaMaskService.address'>
      <button type="button" class="btn btn-sm btn-warning" (click)='metaMaskService.connect()'>
        <i>Connect MetaMask</i>
      </button>
    </div>
  </div>
  <div *ngIf='!metaMaskService.metaMaskInstalled'>
    <button type="button" class="btn btn-sm btn-danger">
      <i>No MetaMask!</i>
    </button>
  </div>
</nav>
