<div *ngIf="metaMaskService.address" class="text-dark">
  <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
    <h3>Team members</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-right">#</th>
          <th scope="col" class="text-left">Address</th>
          <th scope="col" class="text-right">Voting Power (default {{teamDaoService.cache.defaultVotingPower}})</th>
        </tr>
      </thead>
      <tbody *ngFor='let member of teamDaoService.cache.members'>
        <tr>
          <th class="text-right" scope="row">{{member.index}}</th>
          <td class="text-left">{{member.address}}</td>
          <td class="text-right">{{member.votingPower}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
