<div *ngIf="metaMaskService.address" class="text-dark">
  <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
    <div *ngIf="!teamDaoService.contractAddress">
      <h3>Join an existing team</h3>
      <div class="input-group mb-3 w-50 mx-auto">
        <input type="text" class="form-control" bg-white placeholder="0x.." aria-label="Team's address"
          aria-describedby="join-team" [(ngModel)]="contractAddress" (keyup.enter)="joinTeam()" appAutofocus>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)='joinTeam()'>Join</button>
        </div>
      </div>
      <br>
      <h3>Or create a new team</h3>
      <button type="button" class="btn btn-warning w-50 mx-auto" (click)='createTeam()'>Create</button>
    </div>
    <div *ngIf="teamDaoService.contractAddress">
      <h3>
        Currently viewing team
      </h3>
      <button type="button" class="btn btn-outline-dark disabled">
        {{teamDaoService.contractAddress}}
      </button>
      <br><br><br><br>
      <button type="button" class="btn btn-secondary" (click)='switchTeam()'>Switch team</button>
    </div>
  </div>
</div>
