<div *ngIf="metaMaskService.address">
  <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
    <div class="jumbotron">
      <h3>Outstanding Proposals</h3>
      <br>

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-left">Member</th>
            <th scope="col" class="text-left">Type</th>
            <th scope="col" class="text-center">Quorum {{quorumPercentage}}%</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody *ngFor='let proposal of proposals'>
          <tr *ngIf='proposal.name'>
            <td class="text-left align-middle">{{metaMaskService.addressShort(proposal.address)}}</td>
            <td class="text-left align-middle">{{teamDaoService.proposalType(proposal.proposalType)}}</td>
            <td class="text-center align-middle">
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-success background-color:red" role="progressbar"
                  [ngStyle]="{ 'width': getQuorumReach(proposal) + '%', 'height' : '20px' }"
                  attr.aria-valuenow="{{getQuorumReach(proposal)}}" aria-valuemin="0" aria-valuemax="100">
                  {{getQuorum(proposal)}}
                </div>
              </div>
            </td>
            <td class="text-right">
              <button type="button" class="btn btn-sm mr-1 btn-warning"
                *ngIf='proposal.address.toLowerCase() !== metaMaskService.address && !supported(proposal)' (click)='support(proposal.address)'>
                Support
              </button>
              <button type="button" class="btn btn-sm mr-1 btn-danger"
                *ngIf='proposal.address.toLowerCase() === metaMaskService.address' (click)='removeProposal()'>
                Remove
              </button>
              <button type="button" class="btn btn-sm mr-1 btn-success" *ngIf='getQuorumReach(proposal) >= 100'
                (click)='activateProposal(proposal.address)'>
                Activate
              </button>
              <button type="button" class="btn btn-sm btn-secondary mr-1" data-toggle="collapse"
                data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails"
                (click)='setDetails(proposal)'>
                Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="collapse" id="collapseDetails">
        <table class="table table-sm table-secondary">
          <thead class="thead-dark">
            <tr>
              <th colspan=2 class="text-left">
                Details Proposal from {{details.address}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">
                Type
              </td>
              <td class="text-left">
                {{teamDaoService.proposalType(details.proposalType)}}
              </td>
            </tr>
            <tr *ngIf='details.proposalType === 1 || details.proposalType === 2 || details.proposalType === 4'>
              <td class="text-left">
                Target Address
              </td>
              <td class="text-left">
                {{details.payloadAddress}}
              </td>
            </tr>
            <tr *ngIf='details.proposalType === 0 || details.proposalType === 4 || details.proposalType === 5'>
              <td class="text-left">
                Amount
              </td>
              <td class="text-left">
                {{details.payloadNumber}}
              </td>
            </tr>
            <tr>
              <td class="text-left text-small">
                Support
              </td>
              <td class="text-left">
                <span *ngFor='let address of details.quorum'>
                  {{metaMaskService.addressShort(address)}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h3>Create Proposal</h3>
    <br>
    <div class="jumbotron border border-secondary rounded bg-light">
      <div class="btn-group float-left">
        <button type="button" class="btn btn-secondary dropdown-toggle float-left" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{teamDaoService.proposalType(createProposalType) || 'Proposal Type'}}
        </button>
        <div class="dropdown-menu">
          <a *ngFor='let i of [0,1,2,4,5,3]' class="dropdown-item btn-secondary rounded"
            (click)='setProposalType(i)'>{{teamDaoService.proposalType(i)}}</a>
        </div>
      </div>
      <!-- Set Quorum Percentage -->
      <div *ngIf='createProposalType===0'>
        <div class="input-group mb-3 w-25 mx-auto float-right">
          <input type="text" class="form-control" bg-white placeholder="0 - 100" aria-label="Member's address"
            aria-describedby="set-quorum-percentage" [(ngModel)]="inputNumber"
            (keyup.enter)="proposeSetQuorumPercentage()" appAutofocus>
          <div class="input-group-append">
            <button type="button" class="btn btn-warning" (click)='proposeSetQuorumPercentage()'>Propose</button>
          </div>
        </div>
      </div>
      <!-- Add Member -->
      <div *ngIf='createProposalType===1'>
        <div class="input-group mb-3 w-75 mx-auto float-right">
          <input type="text" class="form-control" bg-white placeholder="Address 0x.." aria-label="Member's address"
            aria-describedby="add-member" [(ngModel)]="inputAddress" (keyup.enter)="proposeAddMember()" appAutofocus>
          <div class="input-group-append">
            <button type="button" class="btn btn-warning" (click)='proposeAddMember()'>Propose</button>
          </div>
        </div>
      </div>
      <!-- Remove Member -->
      <div *ngIf='createProposalType===2'>
        <div class="input-group mb-3 w-75 mx-auto float-right">
          <input type="text" class="form-control" bg-white placeholder="Address 0x.." aria-label="Member's address"
            aria-describedby="remove-member" [(ngModel)]="inputAddress" (keyup.enter)="proposeRemoveMember()"
            appAutofocus>
          <div class="input-group-append">
            <button type="button" class="btn btn-warning" (click)='proposeRemoveMember()'>Propose</button>
          </div>
        </div>
      </div>
      <!-- Set Individual Voting Power -->
      <div *ngIf='createProposalType===4'>
        <div class="input-group mb-3 w-50 mx-auto float-right">
          <input type="text" class="form-control" bg-white placeholder="Address 0x.." aria-label="Member's address"
            aria-describedby="set-individual-voting-power" [(ngModel)]="inputAddress"
            (keyup.enter)="proposeSetIndividualVotingPower()" appAutofocus
            mr-10x70D89caA0Ef814A909bA93d9A105bD86bC6948e4>
          <input type="text" class="form-control" bg-white placeholder="0 - 2^256" aria-label="Individual Voting Power"
            aria-describedby="set-individual-voting-power" [(ngModel)]="inputNumber"
            (keyup.enter)="proposeSetIndividualVotingPower()">
          <div class="input-group-append">
            <button type="button" class="btn btn-warning" (click)='proposeSetIndividualVotingPower()'>Propose</button>
          </div>
        </div>
      </div>
      <!-- Set Default Voting Power -->
      <div *ngIf='createProposalType===5'>
        <div class="input-group mb-3 w-25 mx-auto float-right">
          <input type="text" class="form-control" bg-white placeholder="0 - 2^256" aria-label="Member's address"
            aria-describedby="set-default-voting-power" [(ngModel)]="inputNumber"
            (keyup.enter)="proposeSetDefaultVotingPower()" appAutofocus>
          <div class="input-group-append">
            <button type="button" class="btn btn-warning" (click)='proposeSetDefaultVotingPower()'>Propose</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
